CONFLUENCE_API_TOKEN=<your_confluence_api_token_here>

# Can be generated using the following command: echo -n "email:api_token" | base64
CONFLUENCE_ENCODED_STRING=<your_base64_encoded_string_here>
CONFLUENCE_BASE_URL=<your_confluence_base_url_here>

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your_langsmith_api_key_here>
LANGSMITH_PROJECT="Confluence support agent"

OPENAI_API_KEY=<your_openai_api_key_here>